@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  font-size: 16px;
  --wsblue: #21b6a8;
  --wslightblue: #d2e8f0;
  --seablue: #d7eef7;
  --wsgreen: #18a558;
  --wsdarkgreen: #116530;
  --wslightgreen: #a3ebb1;
  --wspromobg: #2e87aa;
  --mainmargin: 7vw;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 1200px) {
  :root {
    --mainmargin: 20vw;
  }
}
body {
  font-family: Candara, "Montserrat", sans-serif;
}
body :where(p, li) {
  text-wrap-style: pretty;
  font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.732), 1.25rem);
}
a {
  color: var(--wsblue);
}
a:hover {
  color: var(--wsdarkgreen);
}
p.bigger {
  font-size: clamp(0.975rem, 0.975rem + ((1vw - 0.2rem) * 0.488), 1.3rem);
  color: var(--wsdarkgreen);
}

@media (prefers-color-scheme: dark) {
  #main {
    background-color: #213547;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*///////////
// HEADER  //
///////////*/
.header {
  margin: 0;
  width: 100%;
}
.header .nav {
  width: calc(100vw - 2 * var(--mainmargin));
  margin: 0 var(--mainmargin);
  padding: 0;
}
.navbar-expand-md {
  flex-wrap: wrap;
}
.logo {
  height: 5vw;
  max-height: 50px;
  min-height: 30px;
  margin: 10px 0 5px 0;
  padding: 0 0 0 0;
}

.menu a {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1;
}
.menu a:hover {
  color: var(--wsblue);
}
p.navbar-brand {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 800;
  line-height: 0.8em;
}
@media (prefers-color-scheme: light) {
  a:hover {
    color: var(--wslightgreen);
  }
}
.navbar-light .navbar-nav .nav-link {
  color: var(--wsgreen);
}

.dropdown-menu {
  left: unset;
  right: 0;
}
.dropdown-toggle::after {
  display: none;
}
.tagline {
  grid-area: tagline;
  background-color: var(--wsblue);
  margin: 0;
  padding: 0.3rem;
}
.tagline p {
  color: #fff;
  font-weight: bold;
  margin: 0 var(--mainmargin);
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.dropdown-item.newtab {
  background-image: url(./assets/newtab.png);
  padding-right: 2em;
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: right 0.6em center;
  /* display: inline-block; */
}
li.nav-item {
  min-width: 90px;
  align-content: center;
  text-align: center;
}

/*/////////////////////
// multilevel menu   //
/////////////////////*/
.dropdown-menu {
  width: fit-content;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

li.nav-item {
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .dropdown-submenu > .dropdown-menu {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.dropdown-submenu {
  display: block;
  width: 100%;
  padding: 0 var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: black;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
  justify-items: center;
}

.dropdown-submenu a {
  color: var(--bs-dropdown-link-color);
  text-decoration: none;
}
li.dropdown-submenu {
  /* margin: 0; */
  padding: 0;
}
/*///////////
// PROMO   //
///////////*/

.carousel-container {
  background-color: var(--wspromobg);
}

.carousel-container iframe {
  padding: 1em;
  border-radius: 37px;
}
.react-multi-carousel-dot--active button {
  background: #072813 !important;
}
.react-multiple-carousel__arrow {
  background: rgb(11 76 6 / 50%) !important;
}
.carousel-inner .news-item {
  height: 150px;
  transition: -webkit-transform 4s ease;
  transition: transform 4s ease;
  transition: transform 4s ease, -webkit-transform 2s ease;
}
/*///////////
// CONTENT //
///////////*/

#main {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: 0;
  padding: 0 0 0 var(--mainmargin);
  background-color: var(--seablue);
  flex-grow: 1;
}
#row1 {
  display: flex;
  flex-wrap: none;
  align-content: flex-start;
}

.info {
  width: auto;
  padding-right: 1rem;
  margin-top: 1rem;
  min-width: 30%;
}
#map {
  width: 70%;
  max-width: 90vh;
  display: grid;
  flex-shrink: 0;
  align-items: start;
  grid-template-rows: auto 1fr;
  /* transition: 0.5s ease-in-out; //can use with width change but not with flex-grow*/
}
#map img.map-background,
.pins-layer {
  grid-area: 1/1;
}
.pins-layer {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.home .pins-layer {
  aspect-ratio: 770/453;
}
.home #map {
  width: 100%;
  max-width: 100%;
}
.home #map img.map-background,
.pins-layer {
  width: 100%;
}
.map-pin {
  margin: 0;
  padding: 0;
  position: absolute;
  translate: -50% -100%;
  transform-origin: 50% 100%;
  transition: 0.2s ease-out;
  filter: drop-shadow(3px 2px 2px rgb(73 59 46 / 0.4));
  z-index: unset;
}
.map-pin:hover {
  transform: scale(1.5);
  z-index: 1000;
}
h1,
.h1-inline {
  font-size: clamp(1.378rem, 1.378rem + ((1vw - 0.2rem) * 1.701), 2.25rem);
  color: var(--wsblue);
  font-weight: bold;
}
h2 {
  font-size: clamp(1.185rem, 1.185rem + ((1vw - 0.2rem) * 1.346), 1.875rem);
  color: var(--wsblue);
  margin-bottom: 1rem;
}
.light {
  font-weight: 500;
}
.center {
  text-align: center !important;
}
.map-label {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.map-label p {
  display: block;
  background-color: #ffffff;
  font-size: smaller;
  padding: 1em;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#methods-container {
  display: flex;
  flex-direction: column;
  margin: 0 var(--mainmargin) 1em 0;
}
#methods-container h4 {
  color: var(--wsdarkgreen);
  margin-top: 1em;
}
.col {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  #main {
    padding: 0;
  }
  #map {
    padding: 0;
  }
  #row1 {
    flex-wrap: wrap;
  }
  .info {
    width: 100%;
    padding: 0;
  }
  #methods-container {
    margin: 0 0 1em 0;
    padding: 0 var(--mainmargin);
  }
  #methods-container .method {
    margin: 1rem 0 0 0;
  }
  #map {
    width: 100%;
  }
}
/*///////////
// MODAL   //
///////////*/
.modal-header {
  padding: 0.5rem 1rem 0 1rem;
  justify-content: space-between;
}
.modal-title {
  color: var(--wsgreen);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.732), 1.25rem);
  margin-bottom: 0.8rem;
}
.modal-subtitle {
  color: var(--wsgreen);
  font-style: italic;
  margin-bottom: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.488), 1.125rem);
}
.modal-date {
  font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.244), 1rem);
  text-align: right;
}
.modal-footer {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.modal-footer .video {
  margin-right: 2rem;
}
a.pres {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(./assets/pres.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*///////////
// METHOD  //
///////////*/
.method {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem 0 0;
  padding: 1rem;
  border: 1px solid var(--wsdarkgreen);
  border-radius: 7px;
  background-color: #fff;
}
.proj-header {
  width: 100%;
  padding: 0 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
  color: var(--wsgreen);
  align-items: flex-start;
  flex-wrap: wrap;
}
.project-theme {
  font-size: 0.875rem;
  font-weight: bold;
  background-color: var(--wslightblue);
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  line-height: 1.1em;
}
/*///////////
// FOOTER //
///////////*/
.footer {
  margin: 0;
  width: 100%;
  background-color: var(--wsblue);
  font-size: 0.75rem;
  color: white;
  font-style: italic;
  font-weight: bold;
}
.footer .copyright {
  font-size: 0.9rem;
}
.footer-inner {
  padding: 0.5rem var(--mainmargin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer a {
  color: #fff;
}
.footer-notice {
  font-weight: 300;
  text-align: center;
}
/*///////////
// HOME    //
///////////*/
#main.symmetrical {
  padding: 2rem var(--mainmargin);
}

.info.home h2 {
  color: var(--wsblue);
}
.info.home p,
.info.home li {
  font-weight: 500;
  text-align: justify;
}
em {
  font-weight: 600;
  color: var(--wsblue);
}
.info.home b,
.info.home strong {
  font-weight: 900;
  color: var(--wsblue);
}
.extra-space-above {
  margin-top: 2rem;
}
.inset {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}
.inset > * {
  margin-bottom: 14px;
}

.inset > h2 {
  display: block;
  width: 100%;
}
.inset > p {
  flex: 1 1 75%;
}
.inset > img {
  width: 20%;
  max-width: 100px;
  flex: 0 1 20%;
}
.inset .feature {
  width: 200px;
  flex: 1 1 200px;
  /* min-width: 200px;
  max-width: 50%; */
}
.inset .feature > img {
  width: 100%;
}
/*///////////
// CONTACT //
///////////*/

#contact-form {
  margin: 0 var(--mainmargin) 1rem var(--mainmargin);
}
#contact-form .elem-group {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 1rem 0;
}
#contact-form label {
  display: block;
  width: 20%;
  min-width: 200px;
}
#contact-form input,
#contact-form textarea {
  display: block;
  min-width: 60%;
  flex-grow: 1;
  margin-bottom: 1rempx;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .info.contact {
    padding: 0;
  }
  .info.home {
    /* padding: 0rem 1rem 2rem 1rem; */
  }
}
/*///////////
// ABOUT   //
///////////*/
.spaced {
  margin-bottom: 1rem;
}
img.spaced {
  max-width: calc(100vw - 2 * var(--mainmargin));
  width: 100%;

  overflow-x: hidden;
}
/*//////////////
// Carousel   //
//////////////*/
.carousel-indicators {
  justify-content: space-around;
}
.news-item {
  width: calc(100% - (var(--mainmargin) * 2));
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  overflow-y: auto;
}
.infoband {
  background-image: url("/images/water-bg.jpg");
  background-size: cover;
}

.paypal-form {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.paypal-form input,
section {
  font-size: clamp(0.75rem, 0.75rem + ((1vw - 0.2rem) * 0.244), 1rem);
}
.paypal-image {
  height: 0.875rem;
  vertical-align: middle;
}

.news-item h3 {
  font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.488), 1.125rem);
  font-weight: 600;
  color: var(--wsblue);
  margin: 0;
  margin-bottom: 0.3em;
  overflow: hidden;
}
.news-item p {
  font-size: clamp(0.8rem, 0.8rem + ((1vw - 0.2rem) * 0.244), 1rem);
  width: 100%;
  margin-bottom: 0.3em;
}
.wrap {
  float: right;
  margin: 0.3rem 0 1rem 0.5rem;
  max-height: 100%;
  max-width: 30%;
}
.news-image {
  float: right;
  margin: 0.3rem 0 1rem 0.5rem;
  max-height: 80%;
  max-width: 30%;
}
.sr-only {
  display: none;
}
.carousel-control-next,
.carousel-control-prev {
  width: 6%;
  opacity: 1;
}
